{
  "event_type": "vpc-sc-onboard",
  "client_payload": {
    "snow_ticket": "RITM0000001",
    "division": "example-division",
    "project_id": "prj-example-vertex-dev",
    "project_number": "000000000000",
    "owner_group": "grp-example-division-cloud@example.com",
    "approved_by": "net-approver@example.com",
    "profiles": [
      {
        "name": "vertex-online-serving",
        "params": {
          "caller_identities": [
            "serviceAccount:sa-scoring@prj-example-app-dev.iam.gserviceaccount.com"
          ],
          "access_levels": [
            "corp_network"
          ]
        }
      }
    ]
  }
}
